@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  width: 100vw;
  height: 30vh;
  background-color:#184979;
  color:  #ffff;
}

header h1 {
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 70px;
  font-weight: 400;
}

form {
  display: flex;
  justify-content: space-around;
  background-color: #F7F7F8;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

form input {
  width: 45%;
  padding: 5px;
  border: none;
  background-color: #EFEFF2;
  color: #B4B7D4;
}

.container {
  max-width: 80%;
  margin: 10% auto;
}

.container-posts {
  display: grid;
  gap: 20px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  background-color: #ffff;
}

.post-cont {
  min-width: 300px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
  box-shadow: 3px 5px 15px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.post-cont a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.post-cont a:hover {
  color: #B4B7D4;
}

.post-cont p {
  color: #6C6C78;
  font-size: 15px;
}

.post-cont:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

